# Ignore environment files
.env
.env.*

# Ignore git files
.git
.gitignore

# Ignore logs and caches
storage/logs

# Ignore node_modules if present
node_modules
npm-debug.log
yarn.lock

# Ignore vendor folder if composer install is run in Docker
vendor

# Docker-related files
docker-compose.yml
Dockerfile
.dockerignore


create-secrets.sh
